pip>=24.0
setuptools>=70.0.0
wheel>=0.43.0
fastapi==0.95.2
uvicorn==0.22.0
python-multipart==0.0.6
pandas==2.0.2
numpy==1.24.4
selenium==4.10.0
webdriver-manager==3.8.6
openpyxl==3.1.2
python-dotenv==1.0.0
rapidfuzz==3.0.0
playwright==1.42.0